

@model WebApplication2_.net_framework_.Models.ModelViews.ProdutoViewModel
@{
    ViewBag.Title = "CadastroProdutos";
    Layout = "~/Views/ViewSistem/Vendedor/_VendedorLayoutPage1.cshtml";
}

<h2>CadastroProdutos</h2>

<div class="container">
    <div class="form-group">
        @if (ViewBag.categlist != null)
        {
            @Html.DropDownListFor(model => model.Id_Categoria, ViewBag.categlist as SelectList, "--Escolhe Categoria--", new { @class = "form-control" })
        }
    </div>
    <div class="form-group">

        @Html.DropDownListFor(model => model.Id_Produtos, new SelectList(" "), "--Escolhe--", new { @class = "form-control" })

    </div>
</div>
<script src="~/Scripts/jquery-3.7.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#Id_Categoria").change(function () {
            $.get("/Home/GetListCatego",{ Id_Categoria: $("#Id_Categoria").val() }, function (data) {
                $("#Id_Produtos").empty();
                $.each(data, function (CadastroProdutos, row) {
                    $("#Id_Produtos").append("<option value='" + row.Id_Produto + "'>" + row.Produto +"</option>")
                });
            });
        })
    });
</script>